			

<div id="list_content"  class="eight columns">

			<form class="create_entry" action="/create_entry/albums" method="post">
				







		<div class="input-row">
			<label for="a_name">Album Name: </label>
			<input  type="text" name="a_name" />
		</div>
		<div class="input-row">
			<label for="a_band">Band: </label>
			<input  type="text" name="a_band" />
		</div>
		<div class="input-row">
			<label for="a_img_url">Image URL: </label>
			<input class="u-full-width" type="text" name="a_img_url" />
		</div>
		<div class="input-row">
			<label for="a_listen_url">URL to Stream or Buy: </label>
			<input class="u-full-width" type="text" name="a_listen_url"/>
		</div>
		<div class="input-row">
			<label for="b_description">Description: </label>
			<textarea class="u-full-width" name="b_description"></textarea>
		</div>
		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div>
		

	</form>

</div>
