		<div class="input-row">
			<label for="b_name">Band Name: </label>
			<input  type="text" name="b_name" />
		</div>
		<div class="input-row">
			<label for="b_location">City: </label>
			<input  type="text" name="b_location" />
		</div>
		<div class="input-row">
			<label for="b_genre_one">Genre: </label>
			<input  type="text" name="b_genre_one" />
		</div>
		<div class="input-row">
			<label for="b_img_url">Image URL: </label>
			<input class="u-full-width" type="text" name="b_img_url" />
		</div>
		<div class="input-row">
			<label for="b_website_url">Website URL: </label>
			<input class="u-full-width" type="text" name="b_website_url"/>
		</div>
		<div class="input-row">
			<label for="b_description">Description: </label>
			<textarea class="u-full-width" name="b_description"></textarea>
		</div>
		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div>
		
