
<div id="list_content"  class="eight columns">
	<h1 class="page_title"><%= @title.capitalize %></h1>
	<div id="categories" class="seven columns">
	<% @data.each do |x| %>
		<% table = "#{x['table_name']}" %>
			<% if table == 'genres' || table == 'edits'%>
				<!-- Do Nothing -->
			<% elsif table != 'genres' && table != 'edits' %>
			<a href="/<%= table %>"><input class="button-primary" type="submit" value="<%= table.capitalize %>"></a>
		<% end %>


	<% end %>
	</div>


</div>