
<div id="list_content"  class="eight columns">
	<h1 class="page_title"><%= @title.capitalize %></h1>
	<div id="categories" class="seven columns">
	
		<% @categories.each do |category| %>
			<div>
			<a href="/<%= category %>"><input class="button-primary" type="submit" value="<%= category.capitalize %>"></a>
			</div>
		<% end %>
			
		


	
	</div>


</div>