
		<div class="input-row">
			<label for="f_name">Festival Name: </label>
			<input  type="text" name="f_name" />
		</div>
		<div class="input-row">
			<label for="f_location">City: </label>
			<input  type="text" name="f_location" />
		</div>
		<div class="input-row">
			<label for="f_img_url">Image URL: </label>
			<input class="u-full-width" type="text" name="f_img_url" />
		</div>
		<div class="input-row">
			<label for="f_description">Description: </label>
			<textarea class="u-full-width" name="f_description"></textarea>
		</div>
		<div class="input-row">
			<label for="f_website_url">Website URL: </label>
			<input class="u-full-width" type="text" name="f_website_url" />
		</div>
		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div>
		


