<div id="form" class="eight columns">
	<h4>Create an Entry</h4>
	<% if @entry_submitted %>
	<p> Thank you!</p>
	<% else %>
	<form class="create_entry" action="/create_entry" method="post">
		<p>In order to create submit an entry please choose one of the following categories</p>
	
		<% @data.each do |x| %>
			<% table = "#{x['table_name']}" %>
			<% if table == 'genres' || table == 'edits'%>
				<!-- Do Nothing -->
			<% elsif table != 'genres' && table != 'edits' %>
				<input class="button-primary" type="submit" value="<%= table %>">
			<% end %>
		<% end %>

		<!-- for bands -->


		<div class="input-row">
			<label for="name">Band Name: </label>
			<input  type="text" name="name" required/>
		</div>
		<div class="input-row">
			<label for="location">City: </label>
			<input  type="text" name="location" required/>
		</div>
		<div class="input-row">
			<label for="genre_one">Genre: </label>
			<input  type="text" name="genre_one" required/>
		</div>
		<div class="input-row">
			<label for="img_url">Image URL: </label>
			<input class="u-full-width" type="text" name="img_url" required/>
		</div>
		<div class="input-row">
			<label for="website_url">Website URL: </label>
			<input class="u-full-width" type="text" name="website_url"/>
		</div>
		<div class="input-row">
			<label for="description">Description: </label>
			<textarea class="u-full-width" name="description"></textarea>
		</div>
		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div>
		<!-- end bands -->
		<!-- for venues -->
<!-- 		<div class="input-row">
			<label for="name">Venue Name: </label>
			<input  type="text" name="venue_name" required/>
		</div>
		<div class="input-row">
			<label for="location">City: </label>
			<input  type="text" name="venue_location" required/>
		</div>
		<div class="input-row">
			<label for="img_url">Image URL: </label>
			<input class="u-full-width" type="text" name="venue_img_url" required/>
		</div>
		<div class="input-row">
			<label for="website_url">Website URL: </label>
			<input class="u-full-width" type="text" name="venue_website_url"/>
		</div>
		<div class="input-row">
			<label for="description">Description: </label>
			<textarea class="u-full-width" name="venue_description"></textarea>
		</div>
		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div> -->
		<!-- end venues -->
	</form>
	<% end %>
</div>	
