
		<div class="input-row">
			<label for="l_name">Label Name: </label>
			<input  type="text" name="l_name" />
		</div>
		<div class="input-row">
			<label for="l_location">City: </label>
			<input  type="text" name="l_location" />
		</div>
		<div class="input-row">
			<label for="l_img_url">Image URL: </label>
			<input class="u-full-width" type="text" name="l_img_url" />
		</div>
		<div class="input-row">
			<label for="l_description">Description: </label>
			<textarea class="u-full-width" name="l_description"></textarea>
		</div>
		<div class="input-row">
			<label for="l_website_url">Website URL: </label>
			<input class="u-full-width" type="text" name="l_website_url" />
		</div>
		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div>
		
