<!DOCTYPE html>
<html>
<head>
	<title>Iowa Music Wiki</title>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="/javascript.js"></script>
</head>
<body>
<header>

<div class = 'four columns' style = 'display inline'>
	<% if session['author_id'] %>
		<p>Hi <%= current_user['username'] %> </p>
		<a style = 'display inline' href='/logout'>Log out</a>
	<% else %>
		<a href='/login'>Login</a> 
		<br>
		<a href='/signup'>Sign up</a>
	<% end %>
</div>
<h1 class = 'four columns' class = 'three columns' style = 'display inline'>Iowa Music Wiki</h1>
<div class = 'four columns' style = 'display inline'>
	<form role='search' action='/search' method='post'>
		<input type='text' name='query' placeholder='Search' style='color: black'>
		<button type='submit'>Submit</button>
	</form>
</div>



</header>


<nav>
	<div id="menu" class="three columns">
		<ul>
			<a href="/"><li>Home</li></a>
			<a href="/random"><li>Random Article</li></a>
			<a href="/articles"><li>Categories</li></a>
			<a href="/authors"><li>Authors</li></a>
			<a href ="/create_entry"><li>Contribute An Article</li></a>
		</ul>
	</div>
</nav>
    <%= yield %>
<!-- <footer>
	<h1 class="footer">Footer</h1>
</footer> -->

</body>
</html>