<div id="list_content"  class="eight columns">

	<div id="categories" class="seven columns">
					
			
				<div>
					<!-- <p>This is a <%= @categories  %> </p> -->
					<p>This is a <%= @categories  %> </p>
				</div>
			
			
		


	
	</div>


</div>