<div id="list_content"  class="eight columns">


      	<% if @entry_submitted %>
		<p> Thank you!</p>
	<% else %>

			<form class="create_entry" action="/create_entry/record_stores" method="post">
				

		<div class="input-row">
			<label for="rs_name">Record Store Name: </label>
			<input  type="text" name="rs_name" />
		</div>
		<div class="input-row">
			<label for="rs_location">City: </label>
			<input  type="text" name="rs_location" />
		</div>
		<div class="input-row">
			<label for="rs_img_url">Image URL: </label>
			<input class="u-full-width" type="text" name="rs_img_url" />
		</div>
		<div class="input-row">
			<label for="rs_description">Description: </label>
			<textarea class="u-full-width" name="rs_description"></textarea>
		</div>
		<div class="input-row">
			<label for="rs_website_url">Website URL: </label>
			<input class="u-full-width" type="text" name="rs_website_url" />
		</div>

		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div>
		
			</form>
	<% end %>
</div>