
		<div class="input-row">
			<label for="song_name">Song Name: </label>
			<input  type="text" name="song_name" />
		</div>
		<div class="input-row">
			<label for="song_band">Band: </label>
			<input  type="text" name="song_band" />
		</div>
		<div class="input-row">
			<label for="song_album">Album: </label>
			<input  type="text" name="song_album" />
		</div>
		<div class="input-row">
			<label for="song_lyrics">Lyrics: </label>
			<input  type="u-full-width" name="song_lyrics" />
		</div>
		<div class="input-row">
			<label for="song_description">Description: </label>
			<textarea class="u-full-width" name="song_description"></textarea>
		</div>

		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div>
