
		<div class="input-row">
			<label for="studio_name">Studio Name: </label>
			<input  type="text" name="studio_name" />
		</div>
		<div class="input-row">
			<label for="studio_img_url">IMG URL: </label>
			<input class="u-full-width" name="studio_img_url"/>
		</div>
		<div class="input-row">
			<label for="studio_location">City: </label>
			<input  type="text" name="studio_location" />
		</div>
		<div class="input-row">
			<label for="studio_description">Description: </label>
			<textarea class="u-full-width" name="studio_description"></textarea>
		</div>
		<div class="input-row">
			<label for="studio_website_url">Website URL: </label>
			<input class="u-full-width" name="studio_website_url"/>
		</div>
		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
		</div>
