<div class="input-row">
			<label for="v_name">Venue Name: </label>
			<input  type="text" name="v_name" required/>
		</div>
		<div class="input-row">
			<label for="v_location">City: </label>
			<input  type="text" name="v_location" />
		</div>
		<div class="input-row">
			<label for="v_img_url">Image URL: </label>
			<input class="u-full-width" type="text" name="v_img_url" />
		</div>
		<div class="input-row">
			<label for="v_website_url">Website URL: </label>
			<input class="u-full-width" type="text" name="v_website_url"/>
		</div>
		<div class="input-row">
			<label for="v_description">Description: </label>
			<textarea class="u-full-width" name="v_description"></textarea>
		</div>
		<div class="input-row">
			<input class="button-primary" type="submit" value="Submit"/>
</div>